.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
Eva-aplicacionQR/obj/Debug/net10.0-windows10.0.19041.0/win-x64/Eva-aplicacionQR.GeneratedMSBuildEditorConfig.editorconfig
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
Eva-aplicacionQR/obj/Debug/net10.0-windows10.0.19041.0/win-x64/Eva-aplicacionQR.GeneratedMSBuildEditorConfig.editorconfig
Eva-aplicacionQR/obj/Debug/net10.0-windows10.0.19041.0/win-x64/Eva-aplicacionQR.AssemblyInfoInputs.cache
Eva-aplicacionQR/obj/Debug/net10.0-windows10.0.19041.0/win-x64/Eva-aplicacionQR.AssemblyInfo.cs
Eva-aplicacionQR/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/Eva-aplicacionQR.GeneratedMSBuildEditorConfig.editorconfig
Eva-aplicacionQR/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/Eva-aplicacionQR.AssemblyInfoInputs.cache
Eva-aplicacionQR/obj/Debug/net10.0-maccatalyst/maccatalyst-x64/Eva-aplicacionQR.AssemblyInfo.cs
Eva-aplicacionQR/obj/Debug/net10.0-ios/iossimulator-x64/Eva-aplicacionQR.GeneratedMSBuildEditorConfig.editorconfig
Eva-aplicacionQR/obj/Debug/net10.0-ios/iossimulator-x64/Eva-aplicacionQR.AssemblyInfoInputs.cache
Eva-aplicacionQR/obj/Debug/net10.0-ios/iossimulator-x64/Eva-aplicacionQR.AssemblyInfo.cs
Eva-aplicacionQR/obj/Debug/net10.0-android/Eva-aplicacionQR.GeneratedMSBuildEditorConfig.editorconfig
Eva-aplicacionQR/obj/Debug/net10.0-android/Eva-aplicacionQR.csproj.AssemblyReference.cache
Eva-aplicacionQR/obj/Debug/net10.0-android/Eva-aplicacionQR.AssemblyInfoInputs.cache
Eva-aplicacionQR/obj/Debug/net10.0-android/Eva-aplicacionQR.AssemblyInfo.cs
Eva-aplicacionQR/Eva-aplicacionQR.csproj.user
.vs/ProjectEvaluation/eva-aplicacionqr.strings.v10.bin
.vs/ProjectEvaluation/eva-aplicacionqr.projects.v10.bin
.vs/ProjectEvaluation/eva-aplicacionqr.metadata.v10.bin
.vs/Eva-aplicacionQR.slnx/v18/DocumentLayout.json
.vs/Eva-aplicacionQR.slnx/v18/DocumentLayout.backup.json
.vs/Eva-aplicacionQR.slnx/v18/.suo
.vs/Eva-aplicacionQR.slnx/v18/.futdcache.v2
.vs/Eva-aplicacionQR.slnx/FileContentIndex/9809e5e6-48f9-4fba-a803-6f8790d6c1d7.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/737ad75f-6e53-4f7b-ab16-5f937e35e436.vsidx
.vs/ProjectEvaluation/eva-aplicacionqr.metadata.v10.bin
.vs/Eva-aplicacionQR.slnx/v18/DocumentLayout.json
.vs/Eva-aplicacionQR.slnx/v18/DocumentLayout.backup.json
.vs/Eva-aplicacionQR.slnx/v18/.suo
.vs/Eva-aplicacionQR.slnx/v18/.futdcache.v2
.vs/Eva-aplicacionQR.slnx/FileContentIndex/9809e5e6-48f9-4fba-a803-6f8790d6c1d7.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/718ecff8-dba5-4279-bcf3-383c35ffeca4.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/5dbebd95-032f-4135-85d5-d193d6059f46.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/718ecff8-dba5-4279-bcf3-383c35ffeca4.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/43e51ce3-c5e4-4e75-a08a-2daf81df178f.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/718ecff8-dba5-4279-bcf3-383c35ffeca4.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/409bb642-4ce1-4f8b-abd1-2593b8513881.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/0e555948-c50c-4122-863d-7ab5b9a8b301.vsidx
.vs/Eva-aplicacionQR.slnx/FileContentIndex/0592af23-0f12-4b3e-9258-4df357dba773.vsidx
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
.vs/Eva-aplicacionQR.slnx/FileContentIndex/0e555948-c50c-4122-863d-7ab5b9a8b301.vsidx
.vs/Eva-aplicacionQR.slnx/DesignTimeBuild/.dtbcache.v2
